<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
			">
			
	<!-- 加载spring注解 -->
	<context:component-scan base-package="com.ssm.controller"></context:component-scan>

	<!--添加swagger配置-->
	<bean class="com.ssm.swagger.MySwaggerConfig"></bean>
	<bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" id="swagger2Config"/>
	<mvc:resources location="classpath:/META-INF/resources/" mapping="swagger-ui.html"/>
	<mvc:resources location="classpath:/META-INF/resources/webjars/" mapping="/webjars/**"/>
	
	<!-- 将逻辑视图转化为物理视图  通过InternalResourceViewReslver 是转发到-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		
		<!-- 前缀 -->
		<property name="prefix" value="/"></property>
		
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"></property>
		
	</bean>
	
	
	<mvc:annotation-driven ></mvc:annotation-driven>
	

	
</beans>
